.current {
	float: left;
	display: block;
	font-size: 21px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	color: #b13c68;
	text-shadow: 1px 1px 0 #ebb8c7;
	width: 165px; 
	height: 101px; 
	margin: 30px;
	margin-right: 0px;
}

body {
	background: #6a3e4f;
	color: #78394e;
	font-family: Verdana;
	font-size: 12px;
	margin: 0;
	min-width: 960px;
	padding: 0;
	width: 100%;
	/*background-image: url(../img/images/bg-sweets.gif) !important;*/
}

#content {
	background: #f5f5f5;
	height: 450px;
	padding-left: 0px;
	padding-right: 0px;
	/*margin-left: -54px;*/
	width: 1366px;
	padding-top: 40px;

}

.subcontent{
	background-image: url(../img/images/bg-sweets.gif) !important;
	margin-left: 467px;
	height: 210px;
	width: 420px;
	margin-top: 79px;
}

.subcontent div{
	margin-top: 0px;
	padding-top: 23px;
}

label{
	color: #af6282 !important; 
}
.submit{
	margin-top: -9px !important;
}
.submitbtn {
	background: url("../img/images/sprite-buttons.gif") no-repeat scroll -40px -493px rgba(0, 0, 0, 0) !important;
	border: 0;
	display: block;
	height: 30px;
	width: 120px;
	text-align: center;
	height: 37px; 
	width: 87px;
	margin-left: 298px;
	border-bottom-width: 1px;
	color: #5F5D5E;
	border-width: 1px !important;
	border-color: #af6282 !important;
}
.submitbtn1 {
	background: url("../img/images/sprite-buttons.gif") no-repeat scroll 0px -409px !important;
	border-width: 0px !important;
}
.btn{
	height: 32px !important;
}
.btn1{
	margin-left: 191px !important;
	margin-top: 12px !important;
	width: 120px !important;
	height: 32px !important;
}

.btn2{
	margin-left: 349px; 
	margin-top: -3px; 
	width: 86px !important; 
	height: 49px !important;
	border: 1px solid !important;
	border-width: 1px !important;
	border-color: #af6282 !important;
}

.btn3{
	margin-left: 7px;
	margin-top: 43px;
}

.btn4{
	margin-top: 32px;
	margin-left: 9px;
}

#header {
	background: #f5f5f5 url(../img/images/bg-body.gif);
	width: 100%;
	height: 66px;
}

.subhead {
	margin-left: 4%;
	margin-top: -17px;
}

#header div {
	margin: 0 auto;
	width: 1342px;;
}

#header div div {
	height: 110px;
	overflow: hidden;
	position: relative;
}

.message{
	background-color:  #af6282 !important;
}

h1 {
	background: inherit !important;
	color: inherit !important;
	font-size: 100%;
}

.stockorder{
	margin-left: 53px;
	width: 1154px;
	height: 322px;
	margin-left: 60px;
	color: rgba(255,0,255,0.7);
}

.textcol{
	/*color: rgba(255,150,0,0.8) !important;*/
}

select{
	margin-top: 2px;
	color: rgba(255,0,255,0.7);
}

div fieldset div div{
	/*margin-left: 400px;
	margin-top: 140px;*/
}
.current1{
	margin-right: 59px;
	width: 194px;
	height: 78px;
	background-color: #801A4C;
	border-color: #4D102E;
	border-width:5px;
	border-style:outset;
	color: #F0F0F5;
}
.input{
	margin-top: 0px;
	width: 504px;
	height: 32px;
	margin-left: 2px;
}

.main_content fieldset{
	margin-left: 57px;
}
/*table, td, th
{
border:1px solid #99003D;
text-align: center;
}
table tr td{
	text-align: center;
}
th
{
background-color:#D11975;
color:white;
}*/
.return{
	overflow: auto;
	overflow-x:hidden;
	width: inherit;
	margin-left: 0px;
	margin-top: 0px;
}
.index{
	width: 308px;
	margin-left: 11px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.alg{
	margin-left: 15px;
}
#brd{
	margin-top: 11px;
	margin-left: 11px;
	margin-right: -5px;
	width: 91px;
	height: 53px;
	margin-left: 0px;
	width: 102px;
	margin-right: 12px;
}
.datelabel{
	margin-left: 12px;
	width: 372px;
	height: 40px; 
	padding: 0px; 
	margin-bottom: 0px;
}
.hmediv{
		width: inherit;
		/*margin-left: 189px;
		margin-top: -22px;*/
		margin-left: 0px;
		margin-top: 0px;
}
.hmediv1{
		width: 1027px;
		margin-left: 189px;
		margin-top: -22px;
		margin-top: 92px;
}
.footer{
	width: 1243px; 
	font-size: 22px;
	font-variant: small-caps; 
	margin-left: 55px; 
	margin-top: 8px; 
	height: 52px;
	
	margin-bottom: -14px;
}
.form-control{
	margin-left: 158px;
}
.form-control1{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-control2{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    width: 217px;
    margin-left: -240px;
}
.message{
	margin-bottom: 0px;
	background: -moz-linear-gradient(center top , #EE5F5B, #C43C35) repeat-x scroll 0 0 #CCCCCC ;
}
.return-form{
	width: 500px; 
	margin-left: 61px; 
	margin-top: -37px;
}
.add_list{
	margin-top: 4px; 
	width: 894px;
}
table tr td {
    width: inherit;
    text-align: center;
}
th{
	text-align: center;
}
td div{
    text-align: center;
}
.add_list div{
	width: 383px;
	height: 44px;
}
.damage{
	height:373px !important;
	overflow: auto !important;
}
.report-head{
	width: 800px; 
	margin-left: 380px;
}
.report-foot{
	margin-left: 14px;
}
#piechart{
	width: inherit; 
	height: 480px;
}
#visualization{
	width: inherit; 
	height: 480px;
}
.qty_size{
	width: 60px;
	margin-top: -20px !important;
}
.delete-button{
	/*height: 0px; 
	width: 0px; */
	border-width: 0px; 
	margin-left: 0px;
	background: transparent;
}
#CustomerReturnItemForm {
	width:139%;
}
textarea {
	width: 50%;
}